 /* vactor style */

 .hr-style{
  width: 80%;
  border-bottom: 1px solid #D8D8D8;
  padding-left: 50px;
  
}
/* 
label style */

.label-style {
  line-height: 24px;
  color: #434C5E;
  font-weight: 400;
  font-size: 14px;
  font-family: Open Sans;
}
/* step style */

.steps-style{
  color: #6C7589;
  font-family: Poppins;
}


/* Arrow button style */


/* uploadfile */

.div-style{
    border: 2px solid #0095FA;
    border-style: dotted;
    padding: 2px;
    border-radius: 8px 8px 8px 0;
}

.button-style{
    border: none;
    border-radius: 100px;
    background-color: #1D2737;
    padding: 10px 22px;
    color: white;
    height: 44px;
    box-shadow: -2px -3px 10px rgb(80, 238, 225);
    width: 100px;
    margin-bottom: 10px;
    font-family: Poppins;
}

/* ID varification  */
.div-varify-style{
    border: 2px solid #00FAA4;
    padding: 4px;
    border-radius: 0px 8px 8px 8px;
}


/* My profile and my loan style */

.pro-lon{
    font-family: Poppins;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    Vertical-align: Center
}

/* loan abailable syle here */

.dollar-style{
  font-weight: 800;
}

.loan-able{
  line-height: 24px;
  font-weight: 400;
  font-size: 17px;
}

/* what text style */

  .whattext-style{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
  }